.itemsContainer {
    width: 100%;
    justify-content: center;
    display: flex;
    margin: 0 auto;
    max-width: 1140px;
}

.itemCardListWrapper {
    width: 100%;
}

.itemCardWrapper {
    padding: 1%;
    width: 100%;
}

@media only screen and (min-width: 600px) {
    .itemCardWrapper {
        width: 50%;
    }
}

@media only screen and (min-width: 960px) {
    .itemCardWrapper {
        width: 33%;
    }
}