.notFound {
  width: 60%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
}

.notFound img {
  width: 100%;
  height: auto;
}

.notFound h1 {
  margin: 3rem;
}