.appContent {
  justify-content: center;
}

.userBio, .userName, .userEmail, .userPassword {
  text-align: left;
  width: 70% !important;
}

.signUpForm h2 {
  font-weight: bold;
  font-size: 20px;
  margin: 2rem 0;
}

.signUpForm {
    width: 600px;
    max-width: 95%;
    min-width: 320px;
}

.signUpForm p {
  margin: 0 2rem;
}

.signupButtons {
  margin: 1.5rem 0;
}

