.appContent {
  justify-content: center;
}

.userBio, .userName {
  text-align: left;
}

.signUpForm h2 {
  font-weight: bold;
  font-size: 20px;
  margin: 2rem 0;
}

.signUpForm {
    width: 600px;
    max-width: 95%;
    min-width: 320px;
}

.signUpForm p {
  margin: 0 2rem;
}

.signUpButtons {
  margin: 2rem 0;
}
